#imagenes-equipo{
    
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    
}
#imagen-port{
    height: 250px;
    width: 250px;
}
#fondo-imagen{
    background-color: rgba(0, 0, 0, 0.5);
 
}
#iconos-2{
    height: 30px;
    width: 30px;
}
